[edit]
    command = "code"
    args = ["--wait"]
[diff]
    command = "code"
    args = ["--wait", "--diff", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
[merge]
    command = "code"
    args = ["--wait", "-diff", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
[git]
    autoCommit = true
    autoPush = true
    commitArgs = ["-m", "chezmoi: update {{ "{{" }} .SourceRel {{ "}}" }}"]